/* @font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(~@/assets/fonts/mulish-v1-latin-regular.woff2) format('woff')
} */

/* mulish-300 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 300;
   src:
       url(~@/assets/fonts/mulish-v1-latin-300.woff2) format('woff2'), /* Super Modern Browsers */
       url(~@/assets/fonts/mulish-v1-latin-300.woff) format('woff'), /* Modern Browsers */
       url(~@/assets/fonts/mulish-v1-latin-300.ttf) format('truetype');
}
/* mulish-regular - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src:
       url(~@/assets/fonts/mulish-v1-latin-regular.woff2) format('woff2'), /* Super Modern Browsers */
       url(~@/assets/fonts/mulish-v1-latin-regular.woff) format('woff'), /* Modern Browsers */
       url(~@/assets/fonts/mulish-v1-latin-regular.ttf) format('truetype'); /* Safari, Android, iOS */
}
/* mulish-700 - latin */
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src:
       url(~@/assets/fonts/mulish-v1-latin-700.woff2) format('woff2'), /* Super Modern Browsers */
       url(~@/assets/fonts/mulish-v1-latin-700.woff) format('woff'), /* Modern Browsers */
       url(~@/assets/fonts/mulish-v1-latin-700.ttf) format('truetype');
}

/* Typo */

.h2-stabil {
  margin-top: -25px;
  font-size: 42px;
  font-weight: 700;
}